body {
    font-family: 'Gulzar', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.cover-img {
    filter: brightness(50%)
}